<html>
  <head>
    <!-- Include meta tag to ensure proper rendering and touch zooming -->
    <link rel="stylesheet" href="/css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
      <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
  </head>
  <body>

      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <img id="EditBackButton" style="width: 11%;" src="Img/back-icon.jpg">
        <a class="navbar-brand ">Resturent Name</a>
      </div>
    </nav>
   
   <div class='HomeCard'>
    <div class="card">
  <div class="card-header">
    <h5>Biryani Mahal</h5>
  </div>
  <div class="card-body">
    <h5 class="card-title">Family Resturent</h5>
    <p class="card-text">Veg Non-veg All type of Food.</p>
    
    <a href="/BiryaniMahal" class="btn btn-primary">Click here to Order Food</a>
  </div>
    <div class="card-footer text-muted">
    <p>Mob no:<b>6299205480/8210280419</b> </p>
  </div>
</div>
 <br>
 <div class="card">
  <div class="card-header">
    <h5>Champaran Mutton Handi Shop</h5>
  </div>
  <div class="card-body">
    <h5 class="card-title">Family Resturent</h5>
    <p class="card-text">Pure Non veg with specal type of cooking</p>
    
    <a href="/AllFoodItems" class="btn btn-primary">Click here to Order Food</a>
  </div>
    <div class="card-footer text-muted">
    <p>Mob no:<b>9060110033/9934922750</b> </p>
  </div>
</div>
 <br>
 <div class="card">
  <div class="card-header">
    <h5>Food World</h5>
  </div>
  <div class="card-body">
    <h5 class="card-title">Family Resturent</h5>
    <p class="card-text">Veg and non-veg all type of food</p>
    
    <a href="/AllFoodItems" class="btn btn-primary">Click here to Order Food</a>
  </div>
    <div class="card-footer text-muted">
    <p>Mob no:<b>9060110033/9934922750</b> </p>
  </div>
</div>
</div>
{{!-- <div class="loader"></div> --}}

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>
     <script src="/js/ShopPage.js"></script>
  </body>
</html>