<html>
  <head>
    <!-- Include meta tag to ensure proper rendering and touch zooming -->
    <link rel="stylesheet" href="/css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
      <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
  </head>
  <body>

      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <img id="EditBackButton" style="width: 11%;" src="Img/back-icon.jpg">
        <a class="navbar-brand ">Food Information</a>
       
      </div>
    </nav>
    
      <div class="container">
        
        <img id="HeaderImg" class="rounded mx-auto d-block img-fluid" >
      </div>

      <div class="loader"></div>
 
    <div class='divCenter'>
          <h3 id="EditFoodName"></h3>
          <h4 class='divCenter' id='EditFoodAmount'></h4>
        </div>
        
    <div class="FoodItemsMainten">
      <form>
           <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="EditFoodID">Food ID</span>
         
        </div>

        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" for="Qnty">Quntity</span>
           <input
            onchange="onChangeQty(this)"
            type="Number"
            autocomplete="off"
            placeholder="Please enter no of quantity"
            id="Qnty"
            name="Qnty"
            value="1"
            class="form-control"
            required
          />
          <span class="input-group-text" for="amount" id='totalAmount'>Total Amount</span>
        </div>
        

        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" for="UserName">Name</span>
           <input
            type="text"
            autocomplete="off"
            placeholder="please enter name"
            id="UserName"
            name="UserName"
            class="form-control"
            required
          />
        </div>

        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" for="MobNo">Mob Number</span>
          <input
            type="Number"
            autocomplete="off"
            placeholder="please enter 10 digit mobile no"
            id="MobNo"
            name="MobNo"
            class="form-control"
            required
          />
        </div>

        <div class="input-group input-group-sm mb-3">
          <span
            class="input-group-text"
          
            for="FoodDescription"
          >Address</span>
          <textarea
            class="form-control"
            autocomplete="off"
            id="homeAddress"
            name="homeAddress"
            placeholder="please enter your address"
             required
          ></textarea>
        </div>
        <div class='contaner'>
          <button
            class="btn btn-primary" id="UpdateFood">Submit Order</button>
        </div>

      </form>

    </div>

    <div class="orderAlert">
<div class="alert alert-success shadowBoxAlert" role="alert">
  <h4 class="alert-heading">Well done!</h4>
  <div>
  <h4 id='confName'></h4>
  <h6 id='conMessage'></h6>
  </div>
  <hr>
  <p class="mb-0">9060110033/9934922750 Call this number to get status of your order.</p>
  <button id="trackOrder" class="btn btn-primary" onclick="onOrderedPage()">Track Order</button>
</div>
</div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>
     <script src="/js/UserDetailBiryaniMahal.js"></script>
  </body>
</html>